NEXT_PUBLIC_NHOST_SUBDOMAIN=your-subdomain
NEXT_PUBLIC_NHOST_REGION=your-region
NEXT_PUBLIC_NHOST_BACKEND_URL=https://your-subdomain.your-region.nhost.run
NEXT_PUBLIC_NHOST_GRAPHQL_URL=https://your-subdomain.your-region.nhost.run/v1/graphql
