EXPO_PUBLIC_NHOST_SUBDOMAIN=your-subdomain
EXPO_PUBLIC_NHOST_REGION=your-region
EXPO_PUBLIC_NHOST_BACKEND_URL=https://your-subdomain.your-region.nhost.run
EXPO_PUBLIC_NHOST_GRAPHQL_URL=https://your-subdomain.your-region.nhost.run/v1/graphql
